/*#### Global #####*/
*{
  margin: 0 0;
  padding: 0 0;
}
body{
  background: hsl(210, 36%, 96%);
}
html{
  --antd-wave-shadow-color: #1D56B0!important;
}
.ant-input-affix-wrapper-focused{
  border-color: #1D56B0!important;
}
.ant-input-affix-wrapper-focused:hover{
  border-color: #1D56B0!important;
}
.ant-btn-primary {
  color: #fff;
  background: #1D56B0;
  border-color: #1D56B0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-card{
  border: transparent;
}
.ant-card-head-title{
  color: aliceblue!important;
}

/*#### Global #####*/
.container{
  min-height: 100vh;
}


/*#### current weather form #####*/
.form-container{
  width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
}
.weatherInfo-container{
  width: 80%;
  margin: 3rem auto;
  display: grid;
  place-items: center;
}
.city{
  font-size: 1.5rem;
  font-weight: bold;

}
.card{
  background: #1D56B0;
  color: aliceblue;
  -webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
}
.card-content{
  display: flex;
  justify-content: space-around;
  background: rgba(255,255,255,0.2);
  padding: 1rem 1rem;
}
.card-content-temperature{
  font-size: 2rem;
  display: grid;
  place-items: center;

}
.card-footer{
  background: rgba(255,255,255,0.2);
  margin-top: 1rem;
  text-align: right;
  padding: 1rem 1rem;
}
.details-header{
  border-bottom: 1px solid #1D56B0;
  font-size: 1rem;
}
.details-name{
  width: 100px;
}
.weather-img{
    animation: imgAnimation 4s ease-in-out infinite;
}
@keyframes imgAnimation{
    50%{
        transform: scale(1.3);
    }
}


/*#### request weather data #####*/
.req-weather-container{
  width: 85%;
  margin: 0 auto;
  padding-top: 3rem;
}
.refresh-btn{
  margin-bottom: 10px;
  letter-spacing: 4px;
}